p {
    margin: 0;
}

.App {
    width: 100vmax;
    height: 100vmin;
}

.App-header {
    width: calc(100vmax-0.8vmin);
    height: 6.4vmin;
    background: #f2b705;
    border: 0.4vmin solid #50aed4;
}

.App-content {
    width: 100vmax;
    height: 86.2vmin;
    background: #141359;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.App-bottom {
    width: 100vmax;
    height: 6.6vmin;
    background: #141359;
}

.content {
    width: 100vmax;
    height: 79.4vmin;
    margin: 3.4vmin 0;
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 2vmin;
}

.content-person {
    width: 25.5vmax;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-person img {
    width: 15.4vmax;
    height: 15.4vmax;
    object-fit: cover;
    margin-top: 9.4vmin;
    margin-bottom: 4.5vmin;
    border: 1.5vmin solid #f2b705;
    border-radius: 100vmax;
}

.person-main-data-name {
    text-align: center;
    white-space: pre-wrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 4.3vmin;
    line-height: 5.1vmin;
}

.person-main-data-age
.person-main-data-loyalty
.person-main-data-count {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.6vmin;
    line-height: 3vmin;
}

.content-chat {
    height: inherit;
    width: 30.7vmax;
    display: flex;
    flex-direction: column;
    background: #bbb9ea;
    border-radius: 1.5vmax 1.5vmax 1.5vmax 1.5vmax;
    padding-bottom: 1.5vmax;
}


.chat {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-flow: column nowrap;
}

.chat > div:first-child {
    margin-top: auto !important;
}

.chat::-webkit-scrollbar { width: 0; }

.messageToClient {
    background: #f2b705;
    align-self: flex-end;
    color: black;
}

.messageToOperator {
    background: #2703a5;
    color: white;
    align-self: flex-start;
}

.chat-message {
    width: calc(100% - 2*1vmin);
    height: 10%;
    align-self: center;
    margin-left: 1vmin;
    margin-right: 1vmin;
}

.message {
    max-width: 70%;
    margin: 0 1vmin 1vmin 1vmin;
    padding: 0.5vmin 1vmin;
    border-radius: 10px;
}

.message p:first-child {
    font-size: 0.8em;
    word-wrap: break-word;
}

.messageTimeToClient {
    float: right;
    color:firebrick;
    font-size: 0.6em;
}

.messageTimeToOperator {
    float: left;
    color: firebrick;
    font-size: 0.6em;
}

.chat-message form {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.chat-message textarea {
    height: 90%;
    width: 80%;
    resize: none;
    border-radius: 1.5vmax 0 0 1.5vmax;
    padding-left: 1.5vmax;
}

.chat-message button {
    height: 100%;
    width: 20%;
    border-radius: 0 1.5vmax 1.5vmax 0;
}

.submitButton {
    object-fit: cover;
    height: 3vmax;
    width: 3vmax;
}

.content-history {
    display: flex;
    flex-direction: column;
    width: 40.2vmax;
    height: inherit;
    margin: 0 1.4vmax;
    background: #bbb9ea;
    border-radius: 1.5vmax 1.5vmax 1.5vmax 1.5vmax;
    padding-bottom: 1.5vmax;
}

.history-heder {
    width: inherit;
    height: 9.4vmin;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #141259;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 2.6vmin;
    line-height: 3vmin;
}

.history-list {
    width: inherit;
    height: 63.2vmin;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6vmin;
    line-height: 3vmin;
    color: #141259;
    margin-bottom: 1vmin;
    padding: 0 2vmax;
}

.table-content {
    height: 100%;
    overflow-x: auto;
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6vmin;
    line-height: 3vmin;
    color: #1B1B1B;
    padding: 0 2vmax;
}

.table-content table {
    border-spacing: 0px 1.5vmin;
    border-collapse: separate;
}

.table-content tr:nth-of-type(even){
  background-color: #cfb898;
}

.table-content tr:nth-of-type(odd){
  background-color: #8678d0
}

.table-content::-webkit-scrollbar { width: 0; }

.history-element {
    text-align: center;
}

.history-element-theme {
    text-align: left;
}

#offline_chat {
    width: 30.7;
    height: inherit;
    margin-left: 6.1vmax;
}

#offline_chat.hidden {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.offline-chat-message {
    width: 100%;
    height: 10%;
    align-self: center;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmax;
}

.offline-chat-message:hover {
    background: #4444;
    cursor: pointer;
}

.hidden {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}


.content-person input{
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

td:first-child {
    border-left-style: none;
    border-top-left-radius: 5vmax;
    border-bottom-left-radius: 10vmax;
}

td:last-child {
    border-right-style: none;
    border-bottom-right-radius: 5vmax;
    border-top-right-radius: 10vmax;;
}

tr:hover {
    font-size: 1.5vmax;
    cursor: pointer;
}
